<app-header></app-header>
<app-category-navbar></app-category-navbar>



<div class="app-body">
    <!-- page and route -->
    <router-outlet></router-outlet>
</div>

<div class="container mt-5 mb-5">
     <div class="row justify-content-center">
        <app-subscription-form></app-subscription-form>

     </div>
</div>



<app-footer></app-footer>

<!-- 
    Commands which I using in Tutorial 
 1.  npm install -g angular-cli-ghpages.
 2. ng build --prod --base-href "https://username.github.io/project-name/".
 3. ngh --dir dist/project-name

-->
